body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}
.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar__links {
  color: white;
  display: flex;
  padding-left: 0;
}
.navbar__links li {
  padding: 8px 12px;
}
.navbar__toggleBtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__links {
    justify-content: center;
    width: 100%;
    display: none;
  }

  .navbar__toggleBtn {
    display: block;
  }
  .navbar__menu.active,
  .navbar__links.active {
    display: flex;
  }
}
